# ******************************************************************************
#
# metietur, components for measurement practice
#
# Copyright 2021-2024 Jeremy A Gray <gray@flyquackswim.com>.
#
# All rights reserved.
#
# SPDX-License-Identifier: GPL-3.0-or-later
#
# ******************************************************************************

# Emacs.
*~
.dir-locals.el
commit

# Python.
*.egg-info
*.pyc
.coverage
.hypothesis/
.pytest_cache
.python-version
.tox
.venv
__pycache__
bin
build
dist/
docs/_build/
htmlcov

# Yarn 2.
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*-debug.log*
*-error.log*
.DS_Store
.env
.env.*
.nyc_output/
.pnp.js
/.pnp
/build
/coverage
/docs
/dist
/node_modules
